<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1>Email verification!</h1>
  <p>Please use this code to verfiy the Metaball account <%= email %></p>
  <p>Here is your code: <strong><%= code %></strong></p>
  <p>Thanks</p>
  <p>The Metaball account team</p>
</body>
</html>